<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.i-study.history"
	version 	= "1.0.0">

	<name>i-study History</name>

	<description>
		A complete revision guide to IGCSE History - Twentieth Century Course
	</description>

	<author href="http://i-study.co.uk"
		email="admin@i-study.co.uk">
		i-study
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
git push -u origin master